:root {
	--color-accent: #598d66;
	--color-alt: #e1ede6;
	--text-color: #2c2d35;
}

html {
	font-family: 'Raleway';
	font-weight: 500;
	color: var(--text-color);
}

.container {
	max-width: 1190px;
	/* Помогает избежать адаптаций на каждом пикселе */
	width: calc(100% - 80px);
	margin: 0 auto;
}

.sub {
	color: #86928b;
	font-size: 18px;
	line-height: 150%;
}

@media screen and (max-width: 767px) {
	.container {
		max-width: 690px;
	}
}

@media screen and (max-width: 592px) {
	.container {
		max-width: 590px;
		width: 100%;
	}
}
