.header-container {
	background-color: var(--color-alt);
}

.header__top {
	height: 6.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 20px;
	font-weight: 700;
}

.header__logo-link {
	color: var(--color-accent);
}

.nav {
	display: flex;
	align-items: center;
	gap: 3.75rem;
}

.header__list {
	display: flex;
	align-items: center;
}

.header__item {
	margin-right: 3.75rem;
}

.header__link {
	color: var(--text-color);
	font-size: 18px;
}

.header__backet-svg {
	min-width: 24px;
	aspect-ratio: 1;
}

.header__link:hover {
	color: #598d66;
}

.header__backet-svg:hover {
	fill: #598d66;
}

.mobile__burger {
	display: none;
	width: 30px;
	height: 30px;
}

@media screen and (max-width: 767px) {
	.header__top {
		height: 7.69rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	.header__logo {
		position: relative;
	}

	.header__logo::after {
		content: '';
		width: 510px;
		height: 0.0625rem;
		background: #c3d1c6;
		position: absolute;
		top: 43px;
	}

	.nav {
		gap: 69px;
	}
}

@media screen and (max-width: 592px) {
	.header-container {
		background-color: #fff;
	}

	.header__top {
		height: 114px;
		gap: 16px;
		margin-top: 17px;
	}

	.header__logo::after {
		display: none;
	}

	.header__list {
		display: none;
	}

	.nav {
		background-color: #c3d1c6;
		padding: 16px;
		width: 100%;
		justify-content: space-between;
	}

	.mobile__burger {
		display: block;
		position: relative;
		padding: 5px;
	}

	.mobile__burger-item {
		position: absolute;
		background-color: #fff;
		width: 20px;
		height: 2px;
	}

	.mobile__burger-item:nth-last-child(1) {
		top: 20px;
	}

	.mobile__burger-item:nth-last-child(2) {
		top: 13px;
	}
}
